{% extends "kyndril/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<html lang="en">
<head>
  <style>
    .dummy-width{
      width:92vw;
    }

    .left-btn{
      padding-left:35vw;
     
    }
    a .material-icons{
      color:red;
    }
  </style>
</head>
  <body>
          <!-- Main Sidebar -->

        <!-- End Main Sidebar -->
      <main class="main-content col-lg-10 col-md-12 col-sm-12 p-0 offset-lg-2 offset-md-0">
                <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">

              <div action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="d-flex p-2 px-3 bg-white border-top  my-auto">
                        <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="#">About</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="#">Blog</a>
                        </li>
                      </ul>
                  </div>
                  
              </div>

              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>

          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->


          <!-- / .main-navbar -->

            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0 ">
                <span class="text-uppercase page-subtitle"></span>
                <h3 class="page-title">Address</h3>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">
              <div class="col-lg-4">
                <div class="card card-small mb-4 pt-3">
                  <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                      <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="User Avatar" width="110"> </div>
                    <h4 class="mb-0">{{user.profile.title}} {{user.first_name}},{{user.last_name}}</h4>
                    <span class="text-muted d-block mb-2">{{user.profile.job_title}}</span>
                    <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                      <i class="material-icons mr-1">person_add</i>{{user.profile.user_type}}</button>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item px-4">
                      <div class="progress-wrapper">
                        <strong class="text-muted d-block mb-2">Date of Birth</strong>
                        <div class="progress progress-sm">
                          <div class=" bg-primary" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                            <span class="progress-value">{{user.profile.birth_date}}</span>
                          </div>
                        </div>
                      </div>
                    </li>
                   
                  </ul>
                </div>
              </div>


              <div class="col-lg-8">
              

                <div class="card card-small mb-4">


                  <ul class="list-group list-group-flush">

                   <li class="list-group-item p-3">
                    <div class="row">
                          {% for addr in add_list  %}
                              <li class="list-group-item p-3">
                                <strong class="text-muted d-block mb-2">{{addr.address_type}} Address </strong>
                              
                                <div> <span> {{addr.address}} </span></div>  
                                <div class="btn-group btn-group-sm left-btn">
                               
                                    <button type="button" class="btn btn-white">
                                      <span class="text-success">
                                       
                                        <a href="#" ><i class="material-icons">edit</i> Update</a> 
                                      </span>  </button>

                                    
                                    <button type="button" class="btn btn-white">
                                         <span class="text-danger">
                                        
                                        <a href="{% url 'delete' addr.id  %}" ><i class="material-icons">clear</i> Delete</a> 
                                        </button> 

                                </div>        
                                
                              </li>
                          {% endfor %}
                    </div>
                   </li>
                    <li class="list-group-item p-3">
                   <div class="card-header border-bottom">
                    <h6 class="m-0">Update Address</h6>
                  </div>
                      <div class="row">
                        <div class="col">
                          <form  action="" method="POST">
                          {% csrf_token %}
                            <div class="form-row">

                              <div class="form-group col-md-12 dummy-width">

                                <div class="form-group col-md-6 d-none">
                                  {{form.user|as_crispy_field}} 
                                </div>
                                <div class="form-group col-md-6">
                                  {{form.address_type|as_crispy_field}} 
                                </div>
                                <div class="form-group col-md-6">
                                  {{form.address|as_crispy_field}} 
                                </div>
                                
                              </div>
                           
                              
                            </div> 
                            <button type="submit" class="btn btn-accent">Update Address</button>
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Default Light Table -->
          </div>
                        <!-- Top Referrals Component -->


           
        </main>
 
</body>    
  
</html>
{% endblock content %}


                            {% comment %} <div class="form-row"> 
                             <div class="form-group col-md-6">
                                  {{p_form.title|as_crispy_field}} 
                              </div>
                              <div class="form-group col-md-6">
                                  {{p_form.title|as_crispy_field}} 
                              </div>
                              <div class="form-group col-md-6">
                                  {{u_form.first_name|as_crispy_field}} 
                              </div>


         


                            </div> {% endcomment %}
