{% extends "kyndril/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}



<div id="login">
  {% block content %}

  <!-- ##### Breadcrumb Area Start ##### -->

  <!-- ##### Breadcrumb Area End ##### -->
  <section class="upcoming-events-area section-padding-0-100">
   <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="{% static 'images/shards-dashboards-logo.svg' %}" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">Employee Profile</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
    </div>
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <!-- ##### Contact Form Area Start ##### -->
          <div class="contact-form section-padding-0-100">
            <div class="container">
              <div class="row">
                <!-- Section Heading -->
               
              </div>

              <div class="row float-right">
                <div class="col-12 ">
                  <!-- Contact Form Area -->

                  <div class="contact-form-area1">
                    <form  method="POST" >
                      {% csrf_token %}

                      <div class="">
                       
                        <fieldset class="form-group">
                       
                          <legend class="border-bottom mb-4">Sign in to your account</legend>
                          {{ form |  crispy }}
                        </fieldset>

                        <div class="form-group mb-0">
                           <button type="submit" class="btn btn-accent">Sign In</button>
                        </div>




                      </div>
                    </form>
                     <div class="d-flex justify-content-between g-mb-10">
                      <a class=" d-block g-mb-10" href="{% url 'register' %}">Create an account</a>
                      <a class=" d-block g-mb-10" href="#">Forgot Password?</a>
                    </div>
                    <p class="g-font-size-10">Please view our <a class="g-color-text g-text-underline" href="#">Personal Information Collection Statement</a></p>

                    <div class="border-top pt-3">
                      <small class="text-muted">
                        Need an Account ?
                        <a  href="{% url 'register' %}">Sign Up Now</a>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ##### Contact Form Area End ##### -->
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</div>

